<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>课程</title>
    <style>
        .btn {
            text-align: center;
            padding: 10px;
            width: 100%;
            margin-top: 40px;
            background-image: linear-gradient(to right, #a6c1ee, #fbc2eb);
            color: #fff;
        }
    </style>
</head>
<body>
<h1>Courses Page</h1>
<p>Spring Security</p>
<form method="get" action="/logout">
    <button class="btn" type="submit">Logout</button>
</form>
</body>
</html>